* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    background-color: rgb(241, 246, 252);
}

body {
    display: grid;
    justify-items: center;
    align-items: center;
}

h1 {
    padding: 24px;
}

button {
    border-radius: 8px;
    color: white;
    background-color: rgb(100, 124, 202);
}

button:hover {
    background-color: rgb(125, 154, 247);
    cursor: pointer;
}

/* Player name & winner display */
.players {
    display: flex;
    width: 700px;
    justify-content: space-between;
    font-size: 1.8rem;
}

.players .player1, .players .player2  {
    display: grid;
    grid: 2fr 1fr / 1fr 1fr;
    gap: 8px;
    column-gap: 36px;
    padding: 8px;
    font-weight: 500;
}

.player2 {
    text-align: right;
}

.player2 .name, .player2 button {
    grid-column: 2 / 3;
}

.player2 .symbol {
    grid-row: 1 / 2;
}


/* Board grid */
.game-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
    margin: 48px;
    justify-items: center;
    align-items: center;
    background-color: rgb(100, 124, 202);
}

.board-cell {
    width: 80px;
    height: 80px;
    background-color: rgb(241, 246, 252);
    text-align: center;
    font-size: 4rem;
}

.restart {
    padding: 12px 48px 12px 48px;
    font-size: 1.5rem;
}
